body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#ffdde1,#ee9ca7);
overflow:hidden;
}

.container{
text-align:center;
margin-top:150px;
color:white;
}

button{
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:#ff4d6d;
color:white;
cursor:pointer;
}

.flower{
position:absolute;
font-size:30px;
animation:fall 4s linear forwards;
}

@keyframes fall{
0%{transform:translateY(-100px); opacity:0;}
100%{transform:translateY(600px); opacity:1;}
}

#msg{
margin-top:20px;
font-size:22px;
opacity:0;
transition:1s;
}
