body{
margin:0;
overflow:hidden;
font-family:Arial;
background:linear-gradient(135deg,#ff9a9e,#fad0c4);
}

.center{
text-align:center;
margin-top:150px;
color:white;
}

button{
padding:15px 30px;
font-size:18px;
border:none;
border-radius:10px;
background:#ff4d6d;
color:white;
cursor:pointer;
}

.rose{
position:absolute;
animation:fall 6s linear forwards;
}

@keyframes fall{
0%{transform:translateY(-100px) scale(0.5); opacity:0;}
100%{transform:translateY(700px) scale(1); opacity:1;}
}

img{
width:70px;
}

#message{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:28px;
color:white;
opacity:0;
transition:1.5s;
text-align:center;
}
